@import "tailwindcss";

@source "../../../module-notebook";

@theme {
  --color-neutral: oklch(95.4% 0.038 75.164);
  --color-background: oklch(90.1% 0.076 70.697);
  --color-foreground: oklch(39.6% 0.141 25.723);
  --color-primary: oklch(64.6% 0.222 41.116);
  --color-primary-foreground: oklch(98% 0.016 73.684);

  --color-muted: @apply text-orange-400;
  --color-muted-foreground: @apply text-orange-600;
}

.dark {
    --color-background: @apply bg-orange-900;
    --color-foreground: @apply text-orange-50;

    --color-primary: @apply bg-orange-500;
    --color-primary-foreground: @apply text-white;

    --color-muted: @apply text-orange-400;
    --color-muted-foreground: @apply text-orange-600;
}

button {
  @apply cursor-pointer
}
