@import "tailwindcss";

@source "../../../module-notebook";

@theme {
  --color-base: rgb(30, 30, 46);
  --color-mantle: rgb(24, 24, 37);
  --color-crust: rgb(17, 17, 27);
  --color-surface: rgb(49, 50, 68);
  --color-surface-2: rgb(69, 71, 90);
  --color-overlay: rgb(108, 112, 134);
  --color-overlay-2: rgb(127, 132, 156);
  --color-maintext: rgb(205, 214, 244);
  --color-subtext: rgb(186, 194, 222);
  --color-primary: rgb(137, 180, 250);
  --color-secondary: rgb(116, 199, 236);
  --color-danger: rgb(243, 139, 168);
  --color-warning: rgb(249, 226, 175);
  --color-info: rgb(242, 205, 205);
  --color-success: rgb(148, 226, 213)
}

button {
  @apply cursor-pointer
}
